body{
    margin:0;
    font-family:Arial;
    background:#f4f6fb;
    display:flex;
    flex-direction:column;
    align-items:center;
}

/* CENTERED NAVBAR */
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;
    width:100%;
    padding:12px 0;
    background:#66b0f1;
}

/* LOGO */
#logo{
    width:45px;
    cursor:pointer;
}

/* NAV BUTTONS */
.nav-buttons{
    display:flex;
    gap:10px;
}

/* BUTTONS */
button{
    padding:6px 12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    background:white;
}

/* SECTIONS */
.section{
    display:none;
    margin-top:30px;
    width:90%;
    max-width:600px;

    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    text-align:center;
}

/* FORM COLUMN LAYOUT */
form{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:12px;
}

/* INPUT STYLE */
input{
    width:280px;
    padding:8px;
    border-radius:8px;
    border:1px solid #ccc;
    text-align:center;
}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
}

td,th{
    padding:10px;
    text-align:center;
}